telegram smart bot N8N
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        336
      ],
      "id": "5ba2dcbb-22bd-4cc0-870d-eae4998efcdd",
      "name": "Telegram Trigger",
      "webhookId": "19db244a-6acd-4246-a24f-ac4ee6be6a9a",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "113129cb-d30a-48a3-9c5e-774ce6f83481"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca3d8a4e-ea22-4cc5-bee0-032339db3adb",
                    "leftValue": "={{ $json.message.photo[3] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ca35252-c043-4af3-950a-baca2617a6d5",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -192,
        320
      ],
      "id": "3e245fab-f7a4-462b-a7ed-8d6486c286b0",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        336
      ],
      "id": "99c832f8-2796-46c8-9cf6-b8f4f1c8ef9d",
      "name": "Get a file",
      "webhookId": "913a22fd-6ecb-4a38-bf2a-1e14bded7823",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        624
      ],
      "id": "fcc36ac8-e6b2-4f1f-8102-812e5c323f28",
      "name": "Get a file1",
      "webhookId": "913a22fd-6ecb-4a38-bf2a-1e14bded7823",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=ترجم هذا النص الى عربي بدون كتابه إليك ترجمة النص إلى اللغة العربية:  {{ $json.content.parts[0].text }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        480,
        224
      ],
      "id": "44322d65-1665-4504-a95d-c5d6a18a7f14",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        560,
        448
      ],
      "id": "4135a38d-1879-4b44-abfb-5f85cc1fbf70",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "text": "=What's in this image? {{ $json.result.file_id }}",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        256,
        336
      ],
      "id": "9fc11ed0-d6db-410a-8709-1d32ca61c610",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        336
      ],
      "id": "8ad3dcd5-6717-4ebe-8947-fafd494c0b65",
      "name": "Send a text message1",
      "webhookId": "8d62cde9-ed04-4f8c-aa22-c541aed5b699",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Client Response'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=أنت مساعد ذكاء اصطناعي محترف.  أجب على رسالة المستخدم بدقة ووضوح.  إذا لم تعرف الإجابة، قل إنك لا تعرف.  أجب باللغة العربية إلا إذا طلب المستخدم لغة أخرى.  لا تستخدم Markdown أو HTML.  رسالة المستخدم: {{ $json['Client Response'] }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1280,
        336
      ],
      "id": "33e6ff38-806e-403b-bd44-79cb999f99b3",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1360,
        560
      ],
      "id": "7ad1437d-447b-47e7-bfef-a8bb58fe71af",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        544,
        624
      ],
      "id": "bddb8ce9-ae66-434f-9288-48a90b00eb67",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "516f8933-51e1-45f0-a0cc-6b87c6d65d31",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        80
      ],
      "id": "9f9d24e6-21fd-4437-85de-8e1898fde600",
      "name": "Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "516f8933-51e1-45f0-a0cc-6b87c6d65d31",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        336
      ],
      "id": "41bb4b1d-6122-4d3a-a507-11ed24d6c3cf",
      "name": "Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "516f8933-51e1-45f0-a0cc-6b87c6d65d31",
              "name": "message",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        624
      ],
      "id": "a0aeb695-fb9e-49cc-b056-a37aebc94248",
      "name": "Voice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be9107d9-06c1-4feb-b484-be21bf80b9ca",
              "name": "Client Response",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        336
      ],
      "id": "8e2eb622-aecf-4158-91af-76e237c11ad3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "143c9eee-c0df-4120-a1d4-ff08202653be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "990471da367dc7f06b12082f26d36e145d29d47436cab3fd70b5149b1f5513d8"
  },
  "nodeGroups": [],
  "id": "wvNG9VylAgfdgiYs",
  "tags": []
}